.header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .editor-link {
      font-size: 1.0rem;
      color: #ff562a;
      text-decoration: none;
    }

body {
  font-family: Arial, sans-serif;
  margin: 10px;
  background-color: #171420;
  color: #92f9ea;
  width: 240px;
  height: 480;
  overflow: hidden;
}
textarea, input[type="text"], select {
  margin: 0px 0px;
  width: calc(100% - 5px);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
input[type="text"] {
  width: calc(100% - 20px);
}
select {
  height: 100px;
  display: block;
  overflow: auto;
  margin-bottom: 0px;
  width: calc(100% - 0px);
}
input[type="text"]:focus, select:focus {
  outline: none;
}
button {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  background-color: #32303b;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
button:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}
button:hover {
  background-color: #32303b;
}
.label-style {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: none;
  width: auto;
  height: auto;
  overflow: visible;
}
.prompt-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.prompt-container input {
  flex-grow: 1;
  margin-right: 5px;
}
.prompt-container button {
  width: 30px;
}
#copy-prompt {
  margin-top: 20px;
}
.label-style {
  color: #bfbfc1;
}
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  padding: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 110px;
  background-color: #32303b;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%; /* Position the tooltip below the button */
  left: 50%;
  margin-left: -60px; /* Use half the tooltip width to center the tooltip */
  margin-top: 5px; /* Add some space between the tooltip and the button */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltiptext {
  font-size: 10px; /* Define the font size */
  line-height: 20px; /* Define the line height */
}

